<div class="content">
  <div class="container-fluid">
      
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">รายการบริจาค</h4>
                      <p class="category"></p>
                  </div>
                  <div class="row content-container">     
                      <form method="get" action="" class="search-container">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>ค้นหา</label>
                                  <input class="form-control border-input" placeholder="ชื่อ หรือ นามสกุล" value="" type="text" name="q">
                              </div>
                          </div>
                          <div class="col-md-2 right">
                              <a class="btn btn-info btn-fill addnew" href="order-edit.html" target="_blank">เพิ่มการบริจาค</a>
                          </div>
                      </form>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>วันที่</th>
                                  <th>ชื่อ</th>
                                  <th>จุดตั้งรับ</th>
                                  <th>ผู้รับเรื่อง</th>
                                  <th>ผู้รับผิดชอบ</th>
                                  <th>สถานะ</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      26 ตุลาคม 2017
                                  </td>
                                  <td>อัญสา โกเมน</td>
                                  <td>ธรรมสวัสดี</td>
                                  <td>ทิพย์</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-success">ชำระเรียบร้อย</span></td>
                                  <td><a href="/order/edit" class="btn btn-default" target="_blank">แก้ไข</a></td>
                              </tr>
                              <tr>
                                  <td>
                                      27 ตุลาคม 2017
                                  </td>
                                  <td>น.ส.ตุลารัตน์ นามธรรม</td>
                                  <td>ลานโพธิ์</td>
                                  <td>แม่ชีตา</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-warning">ค้างชำระ</span></td>
                                  <td><a href="/order/edit" class="btn btn-default">แก้ไข</a></td>
                              </tr>
                              <tr>
                                  <td>
                                      27 ตุลาคม 2017
                                  </td>
                                  <td>น.ส.ศิริรัตน์ เนื่องนิต</td>
                                  <td>ถ้ำอารยตารา</td>
                                  <td>แม่ชีตั๊ก</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-success">ชำระเรียบร้อย</span></td>
                                  <td><a href="/order/edit" class="btn btn-default">แก้ไข</a></td>
                              </tr>
                              <tr>
                                  <td>
                                      28 ตุลาคม 2017
                                  </td>
                                  <td>ศิริพร แก้วใจ</td>
                                  <td>สำนักงาน</td>
                                  <td>วัชรี</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-warning">ค้างชำระ</span></td>
                                  <td><a href="/order/edit" class="btn btn-default">แก้ไข</a></td>
                              </tr>
                              <tr>
                                  <td>
                                      29 ตุลาคม 2017
                                  </td>
                                  <td>น.ส.นิศาชล จงกล</td>
                                  <td>ถ้ำอารยตารา</td>
                                  <td>อินทร์ดารา</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-success">ชำระเรียบร้อย</span></td>
                                  <td><a href="/order/edit" class="btn btn-default">แก้ไข</a></td>
                              </tr>
                              <tr>
                                  <td>
                                      29 ตุลาคม 2017
                                  </td>
                                  <td>ภัทรา วิธรรม</td>
                                  <td>สำนักงาน</td>
                                  <td>อินทร์ดารา</td>
                                  <td>ทิพย์</td>
                                  <td><span class="text-success">ชำระเรียบร้อย</span></td>
                                  <td><a href="/order/edit" class="btn btn-default">แก้ไข</a></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>