<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-setting.jpg" alt="...">
                          <h4 class="title">
                              ตั้งค่าข้อมูลหลัก                                            
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/setting/point">จุดตั้งรับ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/project">โครงการ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/user">ผู้ใช้งานระบบ</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>                            
          </div>
          <div class="col-lg-9 col-md-7">
              <div class="card">
                  <div class="row content-container">
                      <form method="get" action="" class="search-container">
                          <div class="col-md-12 center">
                              <div class="form-group">
                                  <label>โปรดเลือกรายการที่ต้องการ</label>
                              </div>
                          </div>
                      </form>
                  </div>                                
              </div>                                                        
          </div>

      </div>

  </div>
</div>