<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="/assets/img/faces/face-setting.jpg" alt="...">
                          <h4 class="title">
                              ตั้งค่าข้อมูลหลัก                                            
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/setting/point">จุดตั้งรับ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/project">โครงการ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/user">ผู้ใช้งานระบบ</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>                            
          </div>

          <div class="col-lg-9 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">จุดตั้งรับ</h4>
                </div>
                <div class="content">
                    <form action="/setting/point/save" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ชื่อจุดตั้งรับ</label>
                                    <input class="form-control border-input" placeholder="ชื่อจุดตั้งรับ" value="<%=data.text%>" type="text" name="point">                                    
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info btn-fill btn-wd">บันทึก</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>      

      </div>

  </div>
</div>