<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="card card-user">
                    <br />
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="/assets/img/faces/face-setting.jpg" alt="...">
                            <h4 class="title">
                                ตั้งค่าข้อมูลหลัก
                            </h4>
                        </div>
                        <ul class="leftnav">
                            <li>
                                <p class="description">
                                    <a href="/setting/point">จุดตั้งรับ</a>
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    <a href="/setting/project">โครงการ</a>
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    <a href="/setting/user">ผู้ใช้งานระบบ</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">โครงการ</h4>
                    </div>
                    <div class="content">
                        <form action="/setting/project/save" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อโครงการ ภาษาไทย</label>
                                        <input type="hidden" class="btn btn-info btn-fill btn-wd" name="id" value="<%= data.id %>">
                                        <input class="form-control border-input" placeholder="ชื่อโครงการ ภาษาไทย"
                                            value="<%= data.lov.text %>" type="text" id="input" name="projectth">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อโครงการ ภาษาอังกฤษ</label>
                                        <input class="form-control border-input" placeholder="ชื่อโครงการ ภาษาอังกฤษ"
                                            value="<%= data.lov.code %>" type="text" id="input" name="projecteng">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>รายการข้อมูลของโครงการ</label>
                                    </div>
                                </div>
                            </div>
                            <a class="btn" onclick="tikkystoreInput(0)" type="button">เพิ่มข้อมูล</a>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <tbody>
                                        <% data.product_group.forEach(function(data) { %>
                                            <input class="form-control border-input" placeholder="ชื่อโครงการ" type="text" value="<%= data.name %>" name=""><a href="#" class="btn btn-warning">ลบ</a>
                                        <% }); %>
                                            <div id="divInput">
                                            </div>

                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info btn-fill btn-wd">บันทึก</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    function tikkystoreInput(value) {
        const input = document.getElementById("input").value;
        const test = document.createElement("DIV");
        test.innerHTML = '<input class="form-control border-input" placeholder="ของที่ระลึก" type="text" value="" name=""><a href="#" class="btn btn-warning">ลบ</a>';
        document.getElementById("divInput").appendChild(test);
    }
</script>
