<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="/assets/img/faces/face-setting.jpg" alt="...">
                          <h4 class="title">
                              ตั้งค่าข้อมูลหลัก                                            
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/setting/point">จุดตั้งรับ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/project">โครงการ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/setting/user">ผู้ใช้งานระบบ</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>                            
          </div>

          <div class="col-lg-9 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">ข้อมูลผู้ใช้งานระบบ</h4>
                </div>
                <div class="content">
                    <form action="/setting/user/save" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ชื่อผู้ใช้งานระบบ</label>
                                    <input class="form-control border-input" placeholder="ชื่อผู้ใช้งานระบบ" value="<%= data.username %>" type="text" name="name"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>อีเมล์</label>
                                    <input class="form-control border-input" placeholder="อีเมล์" value="<%= data.email %>" type="text" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>เบอร์โทร</label>
                                    <input class="form-control border-input" placeholder="เบอร์โทร" value="<%= data.phone %>" type="text" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ส่วนงาน</label>
                                    <select class="form-control border-input">
                                        <option>ส่วนกลาง</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" class="form-control border-input" name="id" value="<%= data.id %>">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">บันทึก</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">สิทธิในการใช้งาน</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">หน้าหลักการทำงาน - แสดงข้อมูลรายรับประจำวัน</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">หน้าหลักการทำงาน - รายการบริจาคที่อัพโหลด</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">หน้าหลักการทำงาน - รายการแจ้งยอดที่ยังไม่เรียบร้อย</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">ศูนย์ตั้งรับอัพโหลด</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">สมาชิกผู้ร่วมบุญ</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>รายการบริจาค</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                            <span class="icons"><span class="first-icon fa fa-square fa-base"></span>
                                            <span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">Full
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                            <span class="icons"><span class="first-icon fa fa-square fa-base"></span>
                                            <span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">Read
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">บัญชี</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">สต๊อก</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">ส่ง SMS</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">รายงาน - ผู้ร่วมบุญ</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">รายงาน - การบริจาค</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">รายงาน - รายรับ</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">รายงาน - SMS</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><span class="icons"><span class="first-icon fa fa-square fa-base"></span><span class="second-icon fa fa-check-square fa-base"></span></span><input type="checkbox">ตั้งค่าข้อมูลหลัก</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info btn-fill btn-wd">บันทึก</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>       

      </div>

  </div>
</div>