<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="/assets/img/faces/face-report.jpg" alt="...">
                          <h4 class="title">
                              รายงานการบริจาค<br>
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/report/donor">รายงานผู้ร่วมบุญ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/order">รายงานการบริจาค</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/revenue">รายงานรายรับ</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="card card-user">
                  <br />
                  <div class="content" style="min-height:0;">
                      <div class="author" style="padding-top:50px">                                        
                          <h4 class="title">
                              รายงาน SMS<br>
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/report/smssends">รายงานการส่ง SMS</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/smsreply">รายงานการตอบกลับ SMS</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/smssummary">รายงานสรุปการส่ง SMS</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-9 col-md-7">
              <div class="card">
                  <div class="row content-container">
                      <form method="get" action="" class="search-container">
                          <div class="col-md-12 center">
                              <div class="form-group">
                                  <label>โปรดเลือกรายงานที่ต้องการ</label>
                              </div>
                          </div>
                      </form>
                  </div>
                  
              </div>                                                        
          </div>

      </div>

  </div>
</div>