<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-stock.jpg" alt="...">
                          <h4 class="title">
                              สต๊อก<br>
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/stock">ข้อมูลสต๊อก</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/stockcard">การเคลื่อนไหวสต๊อก</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/stockfulfill">รับเข้าสต๊อก</a>
                              </p>
                          </li>
                      </ul>
                  </div>                                
              </div>
              
          </div>
          <div class="col-lg-9 col-md-7">
              <div class="card">
                  <div class="header">
                      <h4 class="title">ข้อมูลสต๊อก</h4>
                      <p class="category"></p>
                  </div>
                  <hr />
                  <div class="content table-responsive table-full-width">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>รายการสต๊อก</th>
                                  <th>คงเหลือ</th>
                                  <th>ปรับแก้ไข</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% data.forEach(function(data) { %>
                                <tr>
                                    <td><span><%= data.name %></span></td>
                                    <td><span><%= data.FK_stock_product_id.qty %></span></td>
                                    <td><a href="/stock/edit?id=<%= data.id %>" class="btn btn-default">แก้ไข</a></td>  
                                </tr>
                            <% }); %>
                          </tbody>
                      </table>
                  </div>
              </div>                            
          </div>

      </div>

  </div>
</div>