<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="card card-user">
                    <br />
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="/assets/img/faces/face-sms.png" alt="...">
                            <h4 class="title">
                                SMS<br>
                            </h4>
                        </div>
                        <ul class="leftnav">
                            <li>
                                <p class="description">
                                    <a href="/sms">ส่ง SMS รายบุคคล</a>
                                </p>
                            </li>
                        </ul>
                    </div>                                
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายการสมาชิกผู้ร่วมบุญ</h4>
                        <p class="category"></p>
                    </div>
                    <div class="row content-container">
                        <form method="get" action="" class="search-container">
                            <div class="col-md-6 tex">
                                <div class="form-group">
                                    <label>ค้นหา</label>
                                    <input class="form-control border-input" placeholder="ค้นหา ชื่อ หรือ นามสกุล" value="" type="text" name="q">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ชื่อ นามสกุล</th>
                                    <th>โทรศัพท์</th>
                                    <th>ไลน์</th>
                                    <th>อีเมล์</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="test">
                                    <td>อัญสา โกเมน</td>
                                    <td>081-8143200</td>
                                    <td></td>
                                    <td></td>
                                    <td><a class="btn btn-default btn-fill" onclick="bt_sms_sends()">ส่ง SMS</a></td>
                                </tr>
                                <tr>
                                    <td>น.ส.ตุลารัตน์ นามธรรม</td>
                                    <td>097-0478656</td>
                                    <td></td>
                                    <td></td>
                                    <td><a class="btn btn-default btn-fill" href="#">ส่ง SMS</a></td>
                                </tr>
                                <tr>
                                    <td>น.ส.ศิริรัตน์ เนื่องนิต</td>
                                    <td>087-9337568</td>
                                    <td>nooi9888</td>
                                    <td>noknoi77@hotmail.com</td>
                                    <td><a class="btn btn-default btn-fill" href="#">ส่ง SMS</a></td>
                                </tr>
                                <tr>
                                    <td>ศิริพร แก้วใจ</td>
                                    <td>085-1498118</td>
                                    <td></td>
                                    <td>aocat@snthailand.com</td>
                                    <td><a class="btn btn-default btn-fill" href="#">ส่ง SMS</a></td>
                                </tr>
                                <tr>
                                    <td>น.ส.นิศาชล จงกล</td>
                                    <td>081-7493559</td>
                                    <td>doodami</td>
                                    <td>namirhest@gmail.com</td>
                                    <td><a class="btn btn-default btn-fill" href="#">ส่ง SMS</a></td>
                                </tr>
                                <tr>
                                    <td>ภัทรา วิธรรม</td>
                                    <td>081-7363385</td>
                                    <td></td>
                                    <td></td>
                                    <td><a class="btn btn-default btn-fill" href="#">ส่ง SMS</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                        
            </div>
        </div>
    </div>
  </div>
  
  <script>
  
  </script>